
<div class="container">
	<h1>Edición de libros</h1>
	
	<%= render 'form', book: @book %>

	<%= link_to 'Detalles', @book, class: "btn btn-primary" %> |
	<%= link_to 'Volver', books_path, class: "btn btn-primary" %>

</div>


